.main {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.home-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name1 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.home-img-content {
  position: relative;
}

.home-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #cdcaca;
  object-fit: contain;
}

.home-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-price {
  font-size: 4vh;
  font-weight: bold;
}

.home-postage {
  font-size: 16px;
}

.home-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 60px;
  width: 80%;
  margin: 0 auto;
}

.detail-home {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.more {
  
}

.btn-btn {
  list-style: none;
  display: flex;

}

.home-red-btn {
  
}

.home-destroy {
  margin-left: 10px;
}



