.homes-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.homes-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.homes-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.homes-sell-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.sub-main {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}



.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.new-homes {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.home-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.input-default {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.home-text-wrap {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.home-text {

}

.home-birth-wrap {
  display: flex;
  flex-wrap: wrap
}

.home-birth {
 
}

.home-birth-wrap>select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.home-birth-wrap>p {
  line-height: 60px;
  padding: 0 5px;
}

.homes-detail {
  justify-content: space-between;
  padding: 2vh 0;
}

.name {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form {
  margin: 2vh 0;
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.tel {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.email {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.home-address {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.prefecture {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.zone {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.select-box{
  margin: 2vh 0;
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.city {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.address {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.sell-price{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.price-content {

  display: flex;
  flex-direction: column;
  
  padding-top: 20px;
}

.price-input {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.price-rate {
}

.rate-input {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.price-rent {
}

.rent-input {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.sell-yen {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.price-management {
}

.management-price-text {

}

.price-input {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.home-resident {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.resident {

}

.field {

}

.sell-btn-contents {
  width: 50%;
  margin: 0 auto;
}

.sell-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin: 30px 0 30px 0;
}

.back-btn {
  margin: 35px;
  padding: 15px 35%;
  
}

.indispensable-home {

}

.home-bold-text {
  text-align: center;
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.bukken-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
  margin-left: 25%;
}

.price-spn {
  text-align: right;
}