.footer {
  
}

.group {
  text-align: center;
  display: flow-root;

}

.list {
  list-style: none;
  display: inline-flex;
}

.grouplistA {
  background: #ededed;
  width: 100%;
}

.roll_fout {
  color: #444;
  text-decoration: none;
  list-style: none;
  font-size: small;
  margin: 20px;
}

.grouplistB {
  background: #e0e0e0;
  width: 100%;
}

.footnav {
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.copy {
  background: #699cc2;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .footer {
    width: 100vw;
    margin: 0 auto;
  }

  .group {
    font-size: 24px;
  }

  .list {
    
  }

  .grouplistA {
   
  }
  .grouplistB {
    font-size: 16px;
  }
  .roll_fout {

  }
  .footnav {

  }
  .copy{

  }
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .footer {
    width: 100vw;
  }
  .group {
    width: 100vw;
  }

  .list{
    display: block;
    margin: 0;
  }

  .grouplistA{
    
  }

  .roll_fout {
    margin: 10px 0;
    display: flex;
    font-size: 11px;
    justify-content: center;
  }

  .grouplistB {
    font-size: 5px;
  }

  .footnav{
    
  }

  .sign-up {
    margin: 5px;
  }

  .copy {
    
  }
}