.top-page-header {
  width: 50vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents{
  display: flex;
  width: 128%;
}

.meiwa-icon{
  height: 9vh;
  width: 17vw;
  margin: 15px 0 auto 0;
}

.nav{
  float: right;
  margin: 0 0 0 auto;
}

.lists-right{
  display: flex;
  list-style: none;
  margin: 20px 0;
}

.user-firstname{
  text-decoration: none;
}

.logout{
  margin: 10px;
  text-decoration: none;
}

.login{
 margin: 10px;
 text-decoration: none;
}

.sign-up{
  margin: 10px;
  text-decoration: none;
}

.headercap {
  background: url(images/header_bg.png) repeat-x;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 10px;
}

.headercapcont {
  width: 1000px;
  margin: 0 auto;
}

.cap {
  float: left;
}

.subnavi {
  float: right;
  list-style-type: none;
  display: flex;
}

.map {
  text-decoration: none;
  margin-left: 20px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .top-page-header {
    width: 100vw;
    margin: 0 auto;
  }
  .search-bar-contents {
    font-size: 24px;
  }
  .meiwa-icon {
    height: 10vh;
    width: 33vw;
  }

  .lists-right {
    margin-right: 80px;
  }
  .logout {
    
  }
  .login {

  }
  .sign-up {

  }
  .headercap{

  }
  .headercapcont {

  }
  .map {

  }

 }

/* スマホ表示時 */
@media (max-width: 599px) {
  .top-page-header {
    width: 100vw;
  }
  .search-bar-contents {
    width: 70%;
  }

  .subnavi{
    display: block;
  }

  .meiwa-icon {
    height: 5vh;
    width: 15vw;
    margin: auto 0;
  }

  .lists-right {
    margin: 10px 0;
    display: flex;
    font-size: 11px;
  }

  .logout {
    font-size: 5px;
  }

  .login {
    margin: 5px;
  }

  .sign-up {
    margin: 5px;
  }

  .new-home {
    height: 5vh;
    width: 5vw;
    margin: 15px 0 auto 0;
  }
  

  .headercap{
   padding-top: 4px;
   padding-top: 4px;
   font-size: 5px;
  }

  .headercapcont {
    width: 500px;
  }

  .map {
    margin-left: 10px;
  }
}